/*Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку */
.btn:hover {
    color: red;
    background-color: yellow;
}
/*Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання*/
.lesson-four-task-two:hover {
    background-color: green;
}
/*Завдання №3. Змініть колір тексту відвіданого посилання на жовтий*/
.link:visited {
    color: yellow;
}
/*Завдання №4. Змініть колір тексту посилання,
яке знаходиться в блоку з ідентифікатором "sidebar", на червоний*/
.link:link {
    color: red;
}
/*Завдання №5. Змініть колір фону кнопки на синій, коли кнопка активна*/
.lesson-four-task-five:active {
  background: blue;
}
/*Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий*/
.lesson-four-task-six:focus-within {
    color: orange;
    background-color: orange;
}
/*Завдання №7. Змініть колір тексту на білий та фон елемента на зелений,
  який вказаний в URL як фрагмент, коли на нього встановлюється*/
#target:target {
    color: white;
    background-color: green;
}
/*Завдання №8. Змініть колір тексту на білий та фон елемента на синій при вмиканні відповідного чекбоксу*/
input[type='checkbox']:checked ~ div {
    color: white;
    background-color: blue;
  }
/*Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою.*/
p:lang(uk) {
    color: blue;
}
/*Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.*/
input:required:enabled {
    color: red;
    background-color: yellow;
}
/*Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.*/
input:disabled, button[type='submit']:disabled {
    background-color: yellow;
}
/*Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly.*/
input:read-write {
    background-color: yellow;
}
/*Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly.*/
input:read-only{
    background-color: yellow;
}
/*Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні.*/
input[pattern='[A-Za-z]{3}']:valid {
    background-color: green;
}
input:invalid {
    background-color: red;
}
/*Завдання №15. Застосувати селектор :optional до текстового поля форми,
  яке не є обов'язковим для заповнення, і змінити його фон на червоний*/
textarea:optional {
    background-color: red;
}
/*Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту поля вводу на червоний, якщо значення не входить до цього діапазону*/
.number:out-of-range {
    background-color: red;
  }
/*авдання №17.    Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір тексту на червоний, якщо значення входять до діапазону від 0 до 100.*/
input[type='number']:in-range {
    background-color: red;
  }
/*Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити.*/
input:placeholder-shown {
    background: red;
  }
/*Завдання №19. Застосуйте селектор :focus-within до кнопки , яка  знаходиться у фокусі,

  щоб змінювався колір тексту на білий та фоновий колір на жовтий*/
button:focus-within {
    color: white;
    background-color: yellow;
}
/*Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний.*/
input:required:invalid {
    color: white;
    background-color: red;
}
